<table class="forumsmb">
<tr>
<td class="caption3"><a href="{$main_url}/{$startIndex}">{$sitename}</a> / {$l_unsetBan}</td>
</tr>
</table>

<form action="{$main_url}/{$indexphp}" method="post" class="formStyle">
<table class="tbTransparentmb">
<tr>
<td>

{$bannedIPs}
<input type="hidden" name="action" value="banip" />
<input type="hidden" name="step" value="deleteban2" />
<br />
<input type="submit" value="{$l_unsetBan}" class="inputButton" />
<span class="txtSm"><br /><br /><a href="{$main_url}/{$indexphp}action=banip">{$l_ban}</a></span>
</td>
</tr>
</table>
</form>