<table class="tbTransparentmb"><tr><td>{$user_logging}</td></tr></table>

<table class="forumsmb">
<tr>

<td style="width:70%;vertical-align:top;padding-right:15pt;">

<table style="width:100%">
<tr>
<td class="tbTransparent txtL" style="width:50%"><h1 class="headingTitle">{$l_lastDiscussions}</h1></td><td style="width:50%"><span class="txtSm">{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}" rel="nofollow">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

{$specialThreads}
{$list_topics}

<!--pageNav-->
{$mbpn}
<table style="width:100%">
<tr>
<td class="tbTransparentCell txtR"><span class="txtSm"><b>{$pageNavExtra}&nbsp;</b></span></td>
</tr>
</table>
<!--/pageNav-->

</td>

<td style="width:30%;vertical-align:top;padding-top:13pt">

<table class="forumCol">
{$list_forums}
</table>

<br />
<table style="width:100%"><tr><td class="txtR">{$searchBox}</td></tr></table>

</td>

</tr></table>
