<!doctype html>
<head>
<title>{$title}</title>
<meta name="ROBOTS" content="{$metaRobots}" />
{$l_meta}
<meta name="Description" content="{$description}" /> 
<meta name="Keywords" content="build make start my own free custom paid web discussion easy small mini forum software download site web best bulletin board boards bb php online mysql database mod rewrite mod_rewrite open source gpl customize integrate seo google search engine embed postgresql" /> 
<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />
</head>
<body class="gbody">
<a id="top"></a>

<table style="width:100%;padding:0px;margin:0px;border-collapse:collapse;">
<tr class="noBg"><td style="background-color:#79980E;border:0px;">

<table class="forums">
<tr>
<td><a href="http://www.minibb.com/" style="text-decoration:none"><img src="{$main_url}/img/mini_bb.gif" style="width:16px;height:16px;vertical-align:middle" alt="miniBB &reg;" title="miniBB &reg;" /></a></td>
<td><img src="{$main_url}/img/p.gif" style="width:10px;height:57px" alt="" /></td>
<td style="width:100%">&nbsp;</td>
</tr>
<tr><td class="noWrap" colspan="3"><div style="color:#F1F6CC;font-family:arial,'lucida grande', tahoma;font-size:7pt;margin-bottom:5px;padding-left:2px;padding-right:0px;text-decoration:none;letter-spacing:2pt">{$sitename}</div></td></tr>
</table>

</td></tr>
</table>

<table class="forumsmb">
<tr>
<td class="capMenu" style="border-right:0px">&nbsp;{$l_sepr}&nbsp;{$l_menu[0]}{$l_menu[2]}{$l_menu[5]}{$l_menu[7]}{$l_menu[1]}{$l_menu[3]}{$l_menu[4]}{$l_menu[6]}</td>
</tr>
</table>
