<table class="forums">
<tr>
<td class="caption3"><h1 class="headingTitle"><a href="{$linkToForums}">{$sitename}</a></h1></td><td class="caption3 txtR noWrap"><!--pageNav--><span class="txtSm"><b>{$pageNavExtra}&nbsp;</b></span><!--/pageNav-->&nbsp;</td>
</tr>
</table>

{$specialThreads}
{$list_topics}

<!--pageNav-->
{$mbpn}
<table class="tbTransparentmb">
<tr>
<td class="tcell"><img src="{$main_url}/img/p.gif" style="width:{$fIconWidth}px;height:{$fIconHeight}px" alt="" title="" /></td>
<td style="width:35%">{$searchBox}</td><td class="tbTransparent txtR vmiddle" style="width:65%"><span class="txtSm"><strong>{$pageNavExtra}</strong></span></td>
</tr>
</table>
<!--/pageNav-->