<table class="forums">
<tr>
<td rowspan="2" class="postedLeftCell"><img src="{$main_url}/img/s.gif" style="width:12px;height:9px;padding-top:6px" alt="{$l_author}" /></td>
<td rowspan="2" class="pauthor" style="width:15%"><span class="username">{$pLink1}{$posterName}{$pLink2}</span><span class="txtSm"><br />{$viewReg}</span></td>
<td class="txtSm" style="padding-left:3pt"><a id="msg{$cols[6]}" href="#msg{$cols[6]}" class="txtSm" rel="nofollow">#{$anchor2}</a> {$l_sepr} {$l_posted}: {$postDate}{$editedBy}{$viewIP}</td><td class="txtSm txtR"><script type="text/javascript">getQuotation('{$posterNameJs}', 2, {$cols[6]});</script><script type="text/javascript">getQuotation('{$posterNameJs}', 1, {$cols[6]});</script>{$allowed}&nbsp;{$deleteBox}</td>
</tr>
      
<tr><td class="caption1 {$bg} postedTextCell" style="width:87%" colspan="2"><div class="postedText">{$posterText}</div></td></tr>

</table>
<br />