<table class="tbTransparent">
<tr>
<td class="rdficon fcell"><a href="{$linkToForums}" title="{$forum_title}"><img src="{$main_url}/img/forum_icons/{$forum_icon}" style="width:{$fIconWidth}px;height:{$fIconHeight}px;vertical-align:middle" alt="{$forum_title}" title="{$forum_title}" /></a></td>
<td class="tbTransparent txtL vmiddle" style="width:80%"><strong><a href="{$linkToForums}" title="{$forum_title}">{$forum_title}</a></strong></td>
<td class="tbTransparent txtC vmiddle" style="width:10%">{$numTopics}</td>
<td class="tbTransparent txtC vmiddle" style="width:10%"><strong>{$numPosts}</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><span class="txtNr">{$forum_desc}</span></td>
<td colspan="2">&nbsp;</td>
</table>
