<table class="tbTransparent">
<tr>
<td class="rdficon tcell"><a href="{$linkToTopic}">{$topicIcon}</a></td>
<td class="tbTransparent txtL tcell" style="width:100%">{$topic_reverse}<strong><a href="{$linkToTopic}">{$topicTitle}</a></strong>{$pageNavCell}</td>
<td class="tbTransparent txtL tcell"><span class="views"><abbr title="{$l_views}: {$topic_views}" class="accr">{$topic_views}</abbr></span>&nbsp;&nbsp;<span class="replies"><abbr title="{$l_replies}: {$numReplies}" class="accr">{$numReplies}</abbr></span></td>
</tr>
</table>
<table class="tbTransparent">
<tr>
<td class="tcell tcelllast"><img src="{$main_url}/img/p.gif" style="width:{$fIconWidth}px;height:{$fIconHeight}px" alt="" title="" /></td>
<td class="tbTransparent txtL tcelllast vmiddle"><img src="{$main_url}/img/t.gif" style="width:12px;height:9px;padding-top:6px" alt="{$l_author}" title="{$l_author}" />&nbsp;{$topicAuthor}&nbsp;&nbsp;<span class="txtSm">{$whenPosted}</span></td>
<td class="tbTransparent txtR tcell tcelllast vmiddle">{$lastPoster}&nbsp;&nbsp;<span class="txtSm">{$lastPostDate}&nbsp;&nbsp;</span>{$LinkToLastPostInTopic}</td>
</tr>
</table>
