<form action="{$main_url}/{$indexphp}" method="get" class="formStyle" id="searchform" name="searchform">
<input name="phrase" type="text" maxlength="50" class="textForm vmiddle" value="{$phrase}" style="width:170px" />
<input type="submit" value="{$l_menu[1]}" class="inputButton vmiddle" />
<input type="hidden" name="action" value="search" />
<input type="hidden" name="where" value="{$where}" />
<input type="hidden" name="forum" value="{$forum}" />
<input type="hidden" name="topic" value="{$topic}" />
<input type="hidden" name="searchGo" value="1" />
</form>